* {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

li {
	text-decoration: none;
	list-style: none;
}

body {
	font-family: 'Raleway', sans-serif;
}

.logo {
	/*background: linear-gradient(180deg, black, darkgray
		);*/
	background: #000;
	width: 100%;
	display: flex;
	justify-content: center;
}

header.logo {
	text-align: center;
}

.a-graficname {
	position: absolute;
	left: 50px;
	top: 30px;
}

.graficlogo-img {
	padding: 10px 10px 0 10px;
	max-width: 80%;
	max-height: 100px;
}

nav {
	margin: auto;
	width: 800px;
}

.topnav {
	font-size: 14px;
	margin: 40px 6% 40px 9%;
	width: 85%;
}

.topnav a {
	color: #000;
	text-align: center;
	padding: 14px 16px;
	font-size: 15px;
}

.topnav a:not(:last-child):hover {
	border-bottom: 2px solid gray;
}

.topnav .icon {
	 display: none;
}

.mw-100 {
	width: 100%;
	max-height: 500px;
}

.advantages_container {
	display: flex;
	justify-content: center; 
}

.advantages {
	padding-top: 40px;
	padding-bottom: 40px;
	width: 70%;
	display: flex;
	justify-content: space-between;
	text-align: center;
	flex-wrap: wrap;
}

.advantages_item {
	width: 30%;
}

footer {
	width: 100%;
	height: auto;
    /*background: linear-gradient(360deg, black, darkgray);*/
    background: #000;
	margin: 0 auto;
	text-align: center;
	padding: 15px 0 10px 0;

}

footer a {
	color: white;
	font-size: 14px;
	margin-left: 10px;
}

footer nav a:hover {
	border-bottom: 1px solid gray;
}

.social img {
	margin-bottom: 10px;
	max-width: 25px;
}

.social img:hover {
	background: #494949;
	border-radius: 50%;
}

.graficlogo-img-footer {
	padding: 10px;
	max-width: 80%;
	max-height: 100px;
}

footer p {
	color: white;
	text-align: center;
	margin-left: 5px;
}

.gallery {
	width: 80%;
	margin: 0 auto 50px auto;
	display: flex;
	flex-wrap: wrap;
	z-index: 1;
}

.photo-itm {
	width: 24%;
	margin: 0 2px 0 2px;
}

.photo-itm img {
	box-sizing: border-box;
	max-width: 100%;
	opacity: 0.8;
}

.photo-itm img:hover {
	opacity: 1;
}

.blog-container {
	background-color: #fafafa;
	border-radius: 5px;
	box-shadow: rgba(0,0,0,0.2) 0 4px 2px -2px;
	font-weight: 100;
	margin: 48px auto;
	width: 50rem;
}

.blog-container-new {
    background-color: #fafafa;
    border: 1px solid red;
    border-radius: 5px;
    box-shadow: rgba(0,0,0,0.2) 0 4px 2px -2px;
    font-weight: 100;
    margin: 48px auto;
    width: 50rem;
}

.blog-container a:hover {
	border-color: #ff4d4d;
	color: #ff4d4d;
}

.blog-cover {
	background: url(../img/content/world.jpg);
	background-size: cover;
	border-radius: 5px 5px 0 0;
	height: 15rem;
	box-shadow: inset rgba(0,0,0,0.2) 0 64px 64px 16px;
}

.blog-body {
	margin: 0 auto;
	width: 80%;
}

.blog-title h1 a {
	color: #333;
	font-weight: 100;
}

.blog-text p {
	color: #4d4d4d;
}

.blog-tags ul {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	list-style: none;
	padding-left: 0;
}

.blog-tags li + li{
	margin-left: .5rem;
}

.blog-tags a  { 
	border: 1px solid #999999;
	border-radius: 3px;
	color: #999999;
	font-size: .75rem;
	height: 1.5rem;
	line-height: 1.5rem;
	letter-spacing: 1px;
	padding: 0 .5rem;
	text-align: center;
	text-transform: uppercase;
	white-space: nowrap;
	width: 5rem;
}

.blog-footer {
	border-top: 1px solid #e6e6e6;
	margin: 0 auto;
	padding-bottom: .125rem;
	width: 80%;
}

.blog-footer ul {
	list-style: none;
	display: flex;
	flex: row wrap;
	justify-content: flex-end;
	padding-left: 0;
}

.blog-footer li {
	color: #999999;
	font-size: .75rem;
	height: 1.5rem;
	text-align: center;
	text-transform: uppercase;
	position: relative;
	white-space: nowrap;
}

.published-date {
	border: 1px solid #999999;
	border-radius: 3px;
	padding: .4rem .5rem 0 .5rem;
	margin: 5px 0 5px 0;
}

#map {
	width: 100%;
	height: 400px;
	background-color: grey;
}

.form {
	width: 50%;
	margin: 50px auto;
}

.feedback-input {
	color: #000;
	font-weight: 300;
	font-size: 14px;
	line-height: 22px;
	background-color: #fff;
	padding: 13px;
	margin-bottom: 10px;
	width: 100%;
	box-sizing: border-box;
	border: 0px solid transparent;
	border-bottom: 1px solid #000;
}

textarea {
	width: 100%;
	height: 150px;
	resize: vertical;
}

.button-submit {
	float: left;
	width: 100%;
	border: 0px solid transparent;
	cursor: pointer;
	background-color: #000;
	color: white;
	font-size: 18px;
	padding-top: 22px;
	padding-bottom: 22px;
	transition: all 0.3%;
	margin-top: -4px; 
	font-weight: 300;
}

.button-submit:hover {
	background-color: #fff;
	color: #000; 
	border: 1px solid #000;
}

.ease {
	width: 0;
	height: 74px;
	background-color: #fbfbfb;
	transition: .3s ease;
}

.about-container {
	width: 80%;
	margin: 0 auto 50px auto;
	text-align: center;
}

.about-container img {
	width: 100%; 
}

.about-container p, h1  {
	margin-top: 50px;
}

.services {
	width: 80%;
	margin: 0 auto 50px auto;
	text-align: center;
}

.services-container {
	margin-top: 50px;
	display: grid;
	grid-template-columns: auto auto;
	grid-gap: 50px 100px;
}

.services img {
	 max-width: 100%;
}

.container-location h1 {
	margin: 0 0 20px 20px;
}

.btnAddNewBlog {
	display: block;
	color: #ffffff;
	background-color: #181818;
	width: 50rem;
	border-radius: 5px;
	padding: 10px;
	border:0;
	font-family: 'Raleway', sans-serif;
	margin: 0 auto;
}

.btnAddNewBlog:active {
	background: linear-gradient(#181818, gray);
}

@media screen and (max-width: 768px) {
	.logo {
		min-height: 114px;
	}

	.graficlogo-img {
		position: absolute;
		padding: 10px 10px 0 10px;
		max-width: 80%;
		max-height: 100px;
		right: 50px;
	}

	.a-graficname {
		left: 50px;
	}

	.topnav {
		width: 94%;
		margin: 40px 3% 40px 3%;
	}
	.topnav a:not(:first-child) {
		display: none;
	}
	.topnav a.icon {
		float: right;
		margin-top: -17px;
		display: block;
		color: #000;
	}

	nav {
		width: 100%;
		height: 50px;
		z-index: 3;
	}

	footer nav {
		height: 22px;
	}

	.logo-footer {
		margin-top: 5px;
	}

	.topnav.responsive {
		position: relative;
		z-index: 100;
		background-color: rgba(255, 255, 255, 0.9);
		width: 94%;
		margin: 27px 0 40px 0;
		padding: 0 3% 0 3%;
	}

	.topnav.responsive a.icon {
		position:absolute;
		display: block;
		right: 3%;
		top: 13px;
	}

	.topnav.responsive a {
		float: none;
		display: block;
		text-align: left;
	}

	.advantages_item {
		width: 45%;
	}

	.photo-itm {
		width: 45%;
		margin-left: 10px;
	} 

	.blog-container {
		max-width: 28rem;
	}

    .blog-container-new {
        max-width: 28rem;
        border: 1px solid red;
    }

	.topnav .border-bottom {
		border-bottom: 1px solid black;
	}

	.btnAddNewBlog {
		max-width: 28rem;
	}
}

@media screen and (max-width: 420px) {
	.a-graficname {
		left: 5%;
	}

	.graficlogo-img {
		right: 2%;
	}

	footer nav {
		height: 40px;
	}

	.logo-footer {
		margin-top: 1px;
	}

	.advantages {
		flex-direction: column;
	}
	
	.advantages_item {
		width: 100%;
	}

	.project {
		display: flex;	
		justify-content: center;
		align-items: center;	
	}

	.galle	ry {
		width: auto;
		margin: auto;
	}

	.photo-itm {
		width: 70%;
		margin: 0 auto;
	}

	.blog-container {
		max-width: 20rem;
	}

    .blog-container-new {
        max-width: 20rem;
        border: 1px solid red;
    }

	.services-container {
		grid-template-columns: auto;
	}

	.btnAddNewBlog {
		max-width: 20rem;
	}
}